<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">
                I am a recent computer science graduate from the California State University of Long Beach and I am looking for roles regarding full-stack development or AI-involved roles. 
                My passions in tech involve artificial intelligence, large language models, full-stack development, and computer networking.
                Hobbies that I enjoy outside of computer science are weightlifting, playing chess, and playing other games like League of Legends or Valorant.
            </p>
            <p class="paragraph-text justify-text">
                C++ is my personal favorite programming lanuage. My favorite professor in university described it as "C++ is like driving a manual car, while a language like Haskell is like using Tesla's autopilot".
                I am also proficient in Python, C, and Javascript. I've also worked with industry-standard frameworks and technologies such as React, Angular, Express, Node, PostgreSQL, and much more!
            </p>
            <p class="paragraph-text justify-text">
                I post my software projects on <a href="https://github.com/{{ site.github_username }}">GitHub</a>. My email address can be found at the <span class="extra-link"><a href="#extra">bottom</a></span> of this page.
            </p>
        </div>
    </section>
</div>
